@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@media (max-width: 992px){}
@media (max-width: 1200px){
    .mybox {
        display: none;
      }
}
@media (max-width: 576px){}


.navbar.solid {
    background-color: #490D40;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
   }
  

img{
    width: 124px; height: 124px; object-fit: contain;
}

.nav-item:hover{
    background-color: #f39d1a
}




.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
 }

 



#section2{
    background: #333;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: consolas;
}



.myContainer{
    width: 100%;
     position: relative;
    display: flex;
    justify-content: space-around; 
}

.myContainer .myCard{
    position: relative;
    display: inline-block;
}


.myContainer .myCard .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}


.myContainer .myCard .face.face1 .content{
    opacity: 0.2;
    text-align: center;
}

.myContainer .myCard:hover .face.face1 .content{
    opacity: 1;
}

.myContainer .myCard .face.face1 .content img{
    max-width: 100px;
}

.myContainer .myCard .face.face1 .content h3{
   margin: 10px 0 0 ;
   padding: 0;
   color: #fff;
   font-size: 1.5em;
}


.myContainer .myCard .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content:center;
    align-items: center; 
    z-index: 1;
    transform: translateY(100px);
}


.myContainer .myCard:hover .face.face1{
    background: #ff0057;
    transform: translateY(0);
}

.myContainer .myCard .face.face2{
    position: relative;
    background: #fff;
    justify-content:center;
    align-items: center; 
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}


.myContainer .myCard:hover .face.face2{
    transform: translateY(0);
}

.myContainer .myCard .face.face2 .content p{
    margin: 0;
    padding: 0;
}



.myPartner{
    width: 100%;
    height: 300px;
    position: absolute;
    text-align: center;
    /* top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
} */

}
.myPartner a{
    position: relative;
    text-decoration: none;
   
    width: 600px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    display: inline-block;
    font-size: 24px;
    color: yellow;
}

.myPartner a:hover:before
{
    content: '';
    position: relative;
  
    width: 300px;
    height: 150px;
    background: blue;
    border: 2px solid black;
}

.myPartner a:hover{
    animation: animatetest 1s linear forwards;
    animation-delay: 2s;
}


@keyframes animatetest{
    0%{
        width: 100px;
        height: 100px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #262626;
    }
    50%{
        width: 300px;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #262626;
        border-left-color: #262626;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #262626;
        border-left-color: #262626;
    }
}



.myprice{
    margin: auto;
    width: 70%;
    
    text-align: center;
    
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: gray;
  }



